@use '../../styles/variables' as *;

.button-transparent {
	padding: 9px 20px;
	border: 2px solid $primary-gradient;
	border-radius: 22px;
	text-transform: uppercase;
	color: $primary-color;
	background: transparent;
}
